[Desktop Entry]
Name=EarthLive Control
Comment=Live view of the Earth from space
Exec=earthlive-shell
Icon=preferences
Terminal=false
Type=Application

Name[en_US]=Start EarthLive
Name[zh_CN]=EarthLive 控制
