[Desktop Entry]
Name=Start EarthLive
Comment=Live view of the Earth from space
Exec=earthlive-shell
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application

Name[en_US]=Start EarthLive
